{% extends 'body.html' %}
{% load static %}

{% block perfil %}

    <div>
        <h3>Nombre: {{usuario.nombres}}</h3>
        <h3 class="numEmpleado">Codigo Empleado: {{usuario.numeroempleado}}</h3>
        <br>
            <div class="masinfo">
                    <img src="/static/img/{{usuario.imagen}}" height="">
                <div class="info2">
                    <h4 cla>{{usuario.cargo}}</h4>
                    <br>
                    <h4 cla>Zona: {{usuario.zona}}</h4>
                    <br>
                    <h4>{{usuario.municipio}}, {{usuario.departamento}}</h4>
                    <br>
                    <div class="info3">
                        <h3>{{usuario.ventas_anteriores}}</h3>
                    </div>
                </div>                
            </div>   
            <br>
            <br>
            <h3>Teléfono: {{usuario.celular}}</h3>
            <h3>Email: {{usuario.email}}</h3>
            <br>
            <h3>Fecha de Nacimiento: {{usuario.fecha_nacimiento}}</h3>
            <h3>Cédula: {{usuario.cedula}}</h3>
            <br>
            <h3>Fecha de Ingreso: {{usuario.fecha_Ingreso}}</h3>
            <h3>Dos jefes: {{ mostrarjefe }}</h3>

            {% if jefe %}
                {% if mostrarjefe %}  
                    <h3>Jefe: <a class="subalternos" href="{% url 'erp:home' %}{{jefe.cedula}}">{{jefe.nombres}}</a></h3>                                                     
                {% else %}    
                    <h3>Jefe: {{jefe.nombres}}</h3>     
                {% endif %}                               
            {% else %}
                <h3>Jefe: No tiene</h3>                
            {% endif %}

            <br>

        {% if subalternos %}     
            <h1 class="subalternos">Subalternos</h1>  
            <br>

            <div class="tablasub">
                <table class="table" id="data">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Ventas</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for subalterno in subalternos %}
                                <tr>
                                    <td class="enlacesubalterno">
                                        <a a class="subalternos" href="{% url 'erp:home' %}{{subalterno.cedula}}">{{subalterno.nombres}}</a>
                                    </td>
                                    <td>$ {{subalterno.ventas_anteriores}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                </table> 
            </div>       
        {% endif %}
    </div>

{% endblock %}

