{% load static %}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: arial;
    background: url(" /static/img/login.png") 50% 0 no-repeat fixed;
}

.form-login {
    width: 400px;
    height: 340px;
    background: #4e4d4d;
    margin: auto;
    margin-top: 180px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid #017bab;
    color: white;
}

h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;

}

.logo {
    height: 10%;
    width: 10%; 
}

.form-control {
    width: 100%;
    border: 1px solid #017bab;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #ffffff;
    font-size: 14px;
    font-weight: bold;
}

.buttonlogin {
    width: 100%;
    height: 40px;
    background-color: #017bab;
    border: none;
    border-radius: 5px;
    color: white;
    margin-bottom: 16px;
    font-size: 16px;
}