{% extends 'base.html' %}
{% load static %}

{% block body %}
<body>

    <div class="contenedor">

        <div class="header">
            {% include 'header.html' %}
        </div>

        <div class="body">

            <nav class="fila">

                <div class="col-lg-4 con-md-4 col-sm-4 col-xs-12">
    
                        <h4 class="tituloperfil">Perfil del usuario</h4>
                        {% block perfil %}
    
                        {% endblock %}
    
                </div>
            </nav>                
        </div>
    </div>

</body>
{% endblock %}