{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Pagina responsiva">
    <meta name="description" content="Descripcion del sitio">
    <meta name="keywords" content="responsive, html, css">

    <link href="{% static 'css/login.css' %}" rel="stylesheet">
    <title>Iniciar Sesión</title>
</head>

<body>
        <section class="form-login">
            <form method="post" action="{% url 'login' %}">
              {% csrf_token %}                
                <h5 class="h3 mb-3 fw-normal">Iniciar sesión</h5>                   
                
                <input type="text" name="username" class="form-control" placeholder="Nombre de usuario" required="" id="id_username">                  
                
                <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Contraseña" required="" id="id_password">
                                
                <button class="buttonlogin" type="submit" value="login">Ingresar</button>
                {% if form.errors %}
                <p>Error al iniciar sesión. Por favor, intenta de nuevo.</p>
                {% endif %}
              
            </form>
          </section>
</body>

</html>

