{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Pagina responsiva">
    <meta name="description" content="Descripcion del sitio">
    <meta name="keywords" content="responsive, html, css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div class="contenedor">
        <main class="form-signin">
            <form method="post" action="{% url 'login' %}">
              {% csrf_token %}
                <img class="logo" src="{% static 'img/F2.jpg' %}" alt="">
                <h1 class="h3 mb-3 fw-normal">Iniciar sesión</h1>
            
                <div class="form-floating">
                  <input type="text" name="username" class="form-control" placeholder="Nombre de usuario" required="" id="id_username">
                  <label for="floatingInput">Correo electrónico</label>
                </div>
                <div class="form-floating">
                  <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password" required="" id="id_password">
                  <label for="floatingPassword">Contraseña</label>
                </div>
                <button class="w-100 btn btn-lg btn-dark" type="submit" value="login">Ingresar</button>
                {% if form.errors %}
                <p>Error al iniciar sesión. Por favor, intenta de nuevo.</p>
                {% endif %}
                <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
            </form>
          </main>
    </div>
</body>

</html>

